<p id="notice"><%= notice %></p>

<%= react_component('App', products: @products) %>

<table>
  <thead>
    <tr>
      <th>External</th>
      <th>Name</th>
      <th>Url</th>
      <th>Price min</th>
      <th>Price max</th>
      <th>Price retail</th>
      <th>Type</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>


</table>

<br>

<%= link_to 'New Product', new_product_path %>
