<!DOCTYPE html>
<html>
<head>
  <title>WinesByAri</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<button data-disable-with="Please wait..." name="button" onclick="loadDataAjax();" type="submit">Load Data !!</button>
<%= yield %>

<script>
  function loadDataAjax(){
    var xhr = new XMLHttpRequest(),
        method = "POST",
        url = "/request_data";

    xhr.open(method, url, true);
    xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log(xhr.responseText);
            }
        };
    xhr.send();
  }
</script>

</body>
</html>
